<header class="article-header">
  <h1>{{ page.title }}</h1>
  <p>{{ page.description }}</p>
  <div class="article-list-footer">
    <span class="article-list-date">
      {{ page.date | date: "%B %-d, %Y" }}
    </span>
    <div class="article-list-tags">
      {% for tag in page.tags %}
        {% assign my_tags = site.collections | where: "label", "my_tags" | first %}
        {% for my_tag in my_tags.docs %}
          {% if tag == my_tag.slug %}
            {% assign tag_name = my_tag.name %}
          {% endif %}
        {% endfor %}
        {% assign upcase_tag_name = tag_name | upcase %}
        <a href="{{ 'tag/' | relative_url }}{{ tag }}">
          #{{ upcase_tag_name }}
        </a>
      {% endfor %}
    </div>
  </div>
</header>