<header class="article-header">
  <h1>{{ page.title }}</h1>
  {% if page.translation_url %}
  {% assign translation_href = page.translation_url %}
  {% if translation_href != '/' %}
    {% assign last_char = translation_href | slice: -1 %}
    {% if last_char == '/' %}
      {% assign trimmed_length = translation_href | size | minus: 1 %}
      {% assign translation_href = translation_href | slice: 0, trimmed_length %}
    {% endif %}
  {% endif %}
  <div class="language-switch">
    <a href="{{ translation_href }}" class="language-switch-button">
      <svg class="language-icon" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zM6.5 1.5c.5 1 1 2.5 1.2 4H4.8c.3-1.5.8-3 1.7-4zm-2.8.5c-.7 1-1.2 2.3-1.4 3.5H.5c.4-1.5 1.3-2.8 2.2-3.5zM.3 6.5h1.8c-.1.8-.1 1.5 0 2H.3c-.2-.6-.3-1.3-.3-2s.1-1.4.3-2zm.3 3.5h1.8c.2 1.2.7 2.5 1.4 3.5-.9-.7-1.8-2-2.2-3.5zm2.6 0h2.9c-.2 1.5-.7 3-1.2 4-.9-1-1.4-2.5-1.7-4zm3.3 0h3c-.2 1.2-.6 2.3-1 3.2-.2.3-.4.6-.6.8-.2-.2-.4-.5-.6-.8-.4-.9-.8-2-1-3.2zm0-1.5c-.1-.8-.1-1.5 0-2h3c.1.7.1 1.4 0 2h-3zm.3-3.5c.2-.9.6-1.9 1-2.8.2-.4.4-.7.6-.9.2.2.4.5.6.9.4.9.8 1.9 1 2.8h-3zm3.4 0c-.3-1.5-.8-3-1.7-4 .9.8 1.4 2 1.7 4zm.3 1.5h1.8c.1.8.1 1.5 0 2h-1.8c.1-.7.1-1.4 0-2zm-.3 3.5c.9 1 1.4 2.5 1.7 4-.9-.8-1.4-2-1.7-4zm2.8-.5c.1-.7.1-1.4 0-2h1.8c.2.6.3 1.3.3 2s-.1 1.4-.3 2h-1.8zm-.2-3.5h-1.8c-.2-1.2-.7-2.5-1.4-3.5.9.7 1.8 2 2.2 3.5zm-1.6 7c-.7-1-1.2-2.3-1.4-3.5h1.8c-.4 1.5-1.3 2.8-2.2 3.5z"/>
      </svg>
      <span>{% if page.translation_label %}{{ page.translation_label }}{% else %}Read in English{% endif %}</span>
    </a>
  </div>
  {% endif %}
  <p>{{ page.description }}</p>
  <div class="article-list-footer">
    <span class="article-list-date">
      {{ page.date | date: "%B %-d, %Y" }}
    </span>
    <div class="article-list-tags">
      {% for tag in page.tags %}
        {% assign my_tags = site.collections | where: "label", "my_tags" | first %}
        {% for my_tag in my_tags.docs %}
          {% if tag == my_tag.slug %}
            {% assign tag_name = my_tag.name %}
          {% endif %}
        {% endfor %}
        {% assign upcase_tag_name = tag_name | upcase %}
        <a href="{{ 'tag/' | relative_url }}{{ tag }}">
          #{{ upcase_tag_name }}
        </a>
      {% endfor %}
    </div>
  </div>
</header>
