<footer class="footer">
  <ul class="footer-links">
    {% if site.social_links.email %}
      <li>
        <a href="mailto:{{ site.social_links.email }}" title="Email" aria-label="Send Email">
          <i class="fas fa-at" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if site.social_links.medium %}
      <li>
        <a href="https://medium.com/@{{ site.social_links.medium }}" target="_blank" rel="noopener noreferrer" title="Medium" aria-label="Medium Profile">
          <i class="fab fa-medium" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if site.social_links.goodreads %}
      <li>
        <a href="https://www.goodreads.com/{{ site.social_links.goodreads }}" target="_blank" rel="icon" title="Goodreads" aria-label="Goodreads Profile">
          <i class="fab fa-goodreads" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if site.social_links.facebook %}
      <li>
        <a href="https://www.facebook.com/{{ site.social_links.facebook }}" target="_blank" rel="noopener noreferrer" title="Facebook" aria-label="Facebook Profile">
          <i class="fab fa-facebook-f" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if site.social_links.twitter %}
      <li>
        <a href="https://twitter.com/{{ site.social_links.twitter }}" target="_blank" rel="noopener noreferrer" title="Twitter" aria-label="Twitter Profile">
          <i class="fab fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if site.social_links.googleplus %}
      <li>
        <a href="https://plus.google.com/+{{ site.social_links.googleplus }}" target="_blank" rel="me noopener noreferrer" title="Google Plus"  aria-label="Google Plus Profile">
          <i class="fab fa-google-plus-g" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if site.social_links.linkedin %}
      <li>
        <a href="https://www.linkedin.com/in/{{ site.social_links.linkedin }}" target="_blank" rel="noopener noreferrer" title="LinkedIn" aria-label="LinkedIn Profile">
          <i class="fab fa-linkedin-in" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if site.social_links.github %}
      <li>
        <a href="https://github.com/{{ site.social_links.github }}" target="_blank" rel="noopener noreferrer" title="GitHub" aria-label="Github Profile">
          <i class="fab fa-github" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if site.social_links.stackoverflow %}
      <li>
        <a href="http://stackoverflow.com/users/{{ site.social_links.stackoverflow }}" target="_blank" rel="noopener noreferrer" title="StackOverflow" aria-label="Stackoverflow Profile">
          <i class="fab fa-stack-overflow" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if site.social_links.freecodecamp %}
      <li>
        <a href="https://www.freecodecamp.org/{{ site.social_links.freecodecamp }}" target="_blank" rel="noopener noreferrer" title="freeCodeCamp" aria-label="FreeCodeCamp Profile">
          <i class="fab fa-free-code-camp" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if site.social_links.bitcoin %}
      <li>
        <a href="bitcoin:{{ site.social_links.bitcoin }}" target="_blank" rel="noopener noreferrer" title="Bitcoin" aria-label="Bitcoin wallet">
          <i class="fab fa-btc" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
    {% if site.rss_enabled == true %}
      <li>
        <a href="{{ 'feed.xml' | relative_url }}" target="_blank" title="RSS" aria-label="RSS Feed">
          <i class="fas fa-rss" aria-hidden="true"></i>
        </a>
      </li>
    {% endif %}
  </ul>
  
  <p>
    <a>&copy; {{ 'now' | date: "%Y" }}
        Kudos to 
        <a href="{{ site.attribution.template.jekyll_url }}" rel="noopener noreferrer" target="_blank" title="Jekyll" aria-label="Jekyll - Generator">Jekyll</a>
        and
        <a target="_blank" href="{{ site.attribution.template.project_url }}" rel="noopener noreferrer" title="Chalk" aria-label="Clalk - Theme">Chalk</a>
    </a>
  </p>

  <!-- Fathom - simple website analytics - https://usefathom.com -->
  <script>
  (function(f, a, t, h, o, m){
  a[h]=a[h]||function(){
  (a[h].q=a[h].q||[]).push(arguments)
  };
  o=f.createElement('script'),
  m=f.getElementsByTagName('script')[0];
  o.async=1; o.src=t; o.id='fathom-script';
  m.parentNode.insertBefore(o,m)
  })(document, window, 'https://cdn.usefathom.com/tracker.js', 'fathom');
  fathom('set', 'siteId', 'HIYTKGPC');
  fathom('trackPageview');
  </script>
  <!-- / Fathom -->
</footer>
