<nav class="header-nav">
  <a href="{{ '/' | relative_url }}" class="header-logo" title="{{ site.name }}">
    {% if page.title and page.title != '' %}
      {{ site.name }}
    {% else %}
      <h1 class="header-logo">{{ site.name }}</h1>
    {% endif %}
  </a>
  <ul class="header-links">

    {%  unless page.url contains '/photos'  %}
      <li>
        <a class="header-icon-link" href="{{ 'photos' | relative_url }}" title="Photos">
          Photos
        </a>
      </li>
    {% endunless %}
    
    {% if site.about_enabled == true %}
      {%  unless page.url contains '/about'  %}
        <li>
          <a class="header-icon-link" href="{{ 'about' | relative_url }}" title="About me">
            About
          </a>
        </li>
      {% endunless %}
    {% endif %}

  </ul>
</nav>
