// =============================================================================
// Header
// =============================================================================

.header-nav {
  display: block;
}

.header-logo {
  display: inline-block;
  font-family: $monospace;
  font-size: 1em;
  font-weight: 500;
  color: $header-logo-color;
  text-decoration: none;
  margin: 40px;
}

.header-icon {
  font-size: 25px;
}

.header-icon-link {
  text-decoration: none;
}

.hash-icon-header {
    font-size: 19px;
}

.header-links {
  float: right;
  padding: 0;
  margin: 27px 0 0;
  list-style: none;
  li {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    &:first-child {
      margin-left: 0;
    }
    a {
      font-size: 18px;
      color: $header-link-color;
      &:hover {
        color: $header-link-color-hover;
      }
    }
  }
}

@include breakpoint(extra-small) {
  .header-nav {
    text-align: center;
  }
  .header-logo {
    margin: 4% auto auto auto;
    width: 100%;
  }
  .header-links {
    display: block;
    float: none;
    text-align: center;
    li {
      margin: 0 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@include breakpoint(small) {
  .header-logo {
    margin-top: 2% %4 auto auto;
    width: 100%;
  }
}