// =============================================================================
// Header
// =============================================================================

.header-nav {
  display: block;
  max-width: $max-width;
  margin: 0 auto;
  padding-top: 40px;
}

.header-logo {
  position: fixed;
  top: 40px;
  left: calc(50% - #{$max-width}/2 - 55px - 150px);
  font-family: $base-font-family;
  font-size: 1.5em;
  font-weight: 700;
  color: $header-logo-color;
  text-decoration: none;
  z-index: 100;
}

.header-icon {
  font-size: 25px;
}

.header-icon-link {
  text-decoration: none;
}

.hash-icon-header {
    font-size: 19px;
}

.header-links {
  padding: 0;
  margin: 0 0 40px 0;
  list-style: none;
  text-align: right;
  li {
    display: inline-block;
    margin-left: 24px;
    vertical-align: middle;
    &:first-child {
      margin-left: 0;
    }
    a {
      font-size: 16px;
      font-weight: 500;
      color: $header-link-color;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      padding-bottom: 2px;
      transition: border-color $base-transition-speed linear;
      &:hover {
        color: $header-link-color-hover;
      }
      &.active {
        border-bottom-color: $header-link-color;
      }
    }
  }
}

@include breakpoint(extra-small) {
  .header-nav {
    text-align: center;
  }
  .header-logo {
    position: static;
    margin: 4% auto auto auto;
    width: 100%;
    left: auto;
  }
  .header-links {
    display: block;
    float: none;
    text-align: center;
    li {
      margin: 0 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@include breakpoint(small) {
  .header-logo {
    position: static;
    margin-top: 2%;
    width: 100%;
    left: auto;
  }
}