---
layout: default
title: "Tags"
permalink: /tags/
---

<ul class="tag-list">
  {% assign sorted_tags = site.my_tags | sort: 'name' %}
  {% for tag in sorted_tags %}
    {% assign tag_posts = site.tags[tag.slug] %}
    {% if tag_posts.size > 0 %}
      <li class="tag-list-item">
        <a href="{{ '/tag/' | relative_url }}{{ tag.slug }}">
          #{{ tag.name | upcase }}
          <span class="tag-count">{{ tag_posts.size }}</span>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
