/*
=============================================================================
Base
=============================================================================
*/

/*
Document
=============================================================================
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
}

body {
  margin: 0 auto;
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: $base-font-color;
  background: $body-background;
}
/*
Typography
=============================================================================
 */
p {
  margin: 0;
  font-weight: $base-font-weight;
}

b,
strong {
  font-weight: $base-font-weight-bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: $base-font-size * 1.8;
  font-weight: 600;
  letter-spacing: -.02em;
  color: $article-header-title-color;
}

h2 {
  font-size: $base-font-size * 1.45;
  font-weight: 600;
  color: $article-header-title-color;
}

h3 {
  font-size: $base-font-size * 1.25;
  font-weight: 600;
}

h4 {
  font-size: $base-font-size * 1.1;
  font-weight: 600;
}

h5 {
  font-size: $base-font-size * 1.17;
  font-weight: 500;
}

h6 {
  font-size: $base-font-size;
}

@include breakpoint(small) {
  h1 {
    font-size: $base-font-size * 1.5;
  }
  h2 {
    font-size: $base-font-size * 1.35;
  }
  h3 {
    font-size: $base-font-size * 1.25;
  }
}

a {
  color: $base-accent-color;
  text-decoration: underline;
  text-decoration-color: $link-underline-color;
  transition: color $base-transition-speed linear;
  &:hover,
  &:active {
    color: $base-accent-highlighted-color;
  }
  &:focus {
    color: $base-accent-highlighted-color;
    outline: none;
  }
}

ul,
ol {
  padding-left: 40px;
  margin: 0;
}

abbr {
  cursor: help;
  border-bottom: 1px dotted $base-border-color;
}

blockquote {
  padding: 0 0 0 15px;
  font-family: $sans-serif;
  font-size: $base-font-size;
  line-height: 1.6;
  color: $gray-light;
  font-style: italic;
  border-left: 1px solid $gray-light;
}
/*
Other
=============================================================================
 */
hr {
  margin: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid $base-border-color;
  border-left: 0;
}

img {
  display: block;
  max-width: 100%;
  max-height: 500px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

img + em {
  text-align: center;
  display: block;
  font-size: $base-font-size * 0.85;
  margin: -16px auto;
}

figure .image {
    width: 100%;
}

figure.post {
    text-align: center;
    display: table;
    max-width: 100%;
    margin: 20px auto;
}

figcaption.post {
  display: block;
  font-size: $base-font-size * 0.85;
  font-style: italic;
  margin-top: -16px;
}

figure.photo {
    text-align: center;
    display: table;
    max-width: 100%;
    margin: 80px auto 100px auto;
}

figcaption.photo {
  display: block;
  color: $black;
  font-size: $base-font-size * 1.12;
  font-family: $gallery-font-family;
  margin-top: 4px;
}

::selection {
  color: $white;
  background-color: $gray-darkest;
}

.text-center {
  text-align: center;
}

.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.desaturate {
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: grayscale(100%);
}

.no-text-decoration {
  text-decoration: none;
}

/* PACE Progress Bar CSS black-minimal */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #000000;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 1px;
}

.notfound-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.highlight {
  padding: 10px 50px 10px 50px;
}

@include breakpoint(small) {
  .highlight {
    padding: 10px 20px 10px 20px;
  }
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    border: 1px solid $gray-light;
    margin-bottom: 24px;
}
table th {
    padding: 3px 10px;
    background-color: white;
    border: 1px solid $gray-light;
}
table td {
    border: 1px solid $gray-light;
    padding: 3px 10px;
}

.coffee-kudo {
    margin-top: 4px;
}

.home-container {
  display: block;
  max-width: $max-width;
}

.home-text-container {
  font-family: $home-font-family;
  color: $black;
  p {
    margin-bottom: 10px;
  }
}

.menu-list {
  margin: 20px 0;
  padding-left: 0;
  li {
    padding: 4px 0;
  }
  list-style: square inside;
}

li.menu-list-item {
  a {
    font-weight: $base-font-weight;
    font-size: 1.2em;
    font-family: $home-font-family;
    line-height: 1.33333em;
    color: $menu-item-title-color;
  }
}

a:hover .emoji-hover {
  opacity: 1;
}

.emoji-hover {
  display: inline-block;
  vertical-align: middle;
  opacity: 0;
  transition: opacity $base-transition-speed linear;
  margin-left: 10px;
}
