// =============================================================================
// Footer
// =============================================================================

.footer {
  display: block;
  width: 100%;
  text-align: center;
  padding: 40px 0;
  margin-top: auto;
  font-family: $base-font-family;
  p {
    font-size: 12px;
    color: $base-accent-color;
  }
  a {
    text-decoration: underline;
    text-decoration-color: $link-underline-color;
    color: $base-accent-color;
    &:hover {
      color: $base-accent-highlighted-color;
    }
  }
}

.footer-links {
  float: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0 0 8px 0;
  list-style: none;
  li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
    a {
      font-size: 18px;
      color: $header-link-color;
      fill: $header-link-color;
      &:hover {
        color: $header-link-color-hover;
        fill: $header-link-color-hover;
      }
    }
  }
}

@include breakpoint(extra-small) {
  .footer-links {
    li {
      margin: 0 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.icon-freecodecamp {
  padding-top: 4px;
}